<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crystal-Crypto</title>
    <link rel="stylesheet" type="text/css" href="css/crypto_crystal.css" />
  </head>
  <body>
    <script src="js/bundles/bundle.js"></script>
  </body>
</html>
