<html>
  <head>
    <title>Crystal-Crypto</title>
  </head>
  <body>
    <%- if cCex_BTCUSD || livecoin_BTCUSD %>
    <p>livecoinBTCUSD: <%= livecoin_BTCUSD %></p>
    <p>cCexBTCUSD: <%= cCex_BTCUSD %></p>
    <%- else %>
      <p>Loading</p>
    <%- end %>
  </body>
</html>
